extends layout

block content
    h2= title
    form.form-inline(action="/create", method="post", accept-charset="utf-8")
        input.input-medium(type="text", name="name", placeholder="new playlist")
        button.btn(type="submit") Submit
    br
    ul
        each list in playlists
            li
                a(href='/playlist/' + list.id) #{list.name}
