doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap3/css/bootstrap.css')
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='http://www.youtube.com/player_api')
        script(src='http://connect.soundcloud.com/sdk.js')
        script(src='https://w.soundcloud.com/player/api.js')
        script(src='/javascripts/script.js')
    body
        #header
            .row.show-grid
                .col-lg-6.col-sm-6.col-6
                    a(href='/')
                        #logo
                            h2 𝄢 Pitch In
                .col-lg-6.col-sm-6.col-6
                    if user
                        a(href='/logout').account.btn.btn-info Logout: #{user.auth_type_twitter.username}
                    else
                        a(href='/auth/twitter').account.btn.btn-info Login with Twitter
        #content
            block content
