#header {
  padding: 30px 50px 20px 50px;
  background-color: #EBEBEB;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#content {
  padding: 30px 50px 30px 50px;
}
#logo {
  display: inline-block;
}
#logo h2 {
  display: inline-block;
  padding: 10px 18px 10px 18px;
  color: white;
  background: black;
  border-radius: 4px;
}
.account {
  display: block;
  float: right;
  margin: 36px 0 0 0;
}
.add-new-playlist {
  margin-top: 20px;
}
form .new-playlist {
  width: 300px;
}
form .input-medium {
  width: 480px;
}
a {
  color: #00B7FF;
}
.table {
  width: 600px;
}
td p,
th p {
  margin: 0;
}
.toggle {
  float: right;
  margin-right: 20px;
  margin-bottom: -2px;
  background-image: none;
}
.toggle:hover {
  background-color: #f0f0f0;
}
.list-group-item.song {
  padding: 10px 30px 0px 15px;
  overflow: hidden;
}
.list-group-item.song.active {
  border-color: #dddddd;
  background-color: #428bca;
  color: white;
}
.song {
  cursor: hand;
  cursor: pointer;
}
.song:hover {
  background-color: #eaeaea;
}
.delete {
  float: right;
  color: #949494;
  background-color: #F3F3F3;
  margin-top: -35px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: -30px;
  border-radius: 0px;
}
.delete:hover {
  color: #D14;
  text-decoration: none;
}
.playing {
  background-color: #eaeaea;
}
#track {
  position: fixed;
  bottom: -5px;
  right: 0;
  width: 600px;
}
