body {
  /*padding: 30px 50px 30px 50px;*/

}
#header {
  padding: 30px 50px 20px 50px;
  background-color: #EBEBEB;
}
#content {
  padding: 30px 50px 30px 50px;
}
#logo {
  display: inline-block;
}
#logo h2 {
  display: inline-block;
  padding: 10px 18px 10px 18px;
  color: white;
  background: black;
  border-radius: 3px;
}
.account {
  display: block;
  float: right;
  margin: 36px 0 0 0;
}
.add-new-playlist {
  margin-top: 20px;
  margin-left: -60px;
}
form .new-playlist {
  width: 300px;
}
form .input-medium {
  width: 154px;
}
a {
  color: #00B7FF;
}
.table {
  width: 600px;
}
td p,
th p {
  margin: 0;
}
.toggle {
  float: right;
  margin-right: 20px;
  margin-bottom: -2px;
  background-image: none;
}
.toggle:hover {
  background-color: #f0f0f0;
}
.song {
  cursor: hand;
  cursor: pointer;
}
.song:hover {
  background-color: #eaeaea;
}
.delete {
  float: right;
  color: #949494;
}
.delete:hover {
  color: #D14;
  text-decoration: none;
}
.playing {
  background-color: #eaeaea;
}
#track {
  position: fixed;
  bottom: -5px;
  right: 0;
  width: 600px;
}
