body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.table {
    width: 600px;
}

td p, th p {
    margin: 0;
}

.song {
    cursor: hand;
    cursor: pointer;
}

.song:hover {
    background-color: #eaeaea;
}

.delete {
    float: right;
    color: #949494;
}

.delete:hover {
    color: #D14;
    text-decoration:none;
}

.playing {
    background-color: #eaeaea;
}

#track {
	position: fixed;
	bottom: -5px;
	right: 0;
	width: 600px;
}
